html, body {
  font: 14px fontawesome, helvetica neue, helvetica, liberation sans, nimbus sans, nimbus sans l, arial, sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
}

#loading {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -0.5em;
  font-size: 2em;
  color: #fff;
}

#loading.loaded {
  display: none;
}

/*
button {
  font-size: 2em;
  background-color: #FC4C4C;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 0.25em;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  outline: 0;
}
*/

#clear {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.25em;
  visibility: hidden;
}

#search-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  margin: 0.5em;
  width: 14em;
}

#search {
  width: 14em;
  font-family: inherit;
}

body.has-start #clear {
  visibility: visible;
}

#end {
  display: none;
}

body.has-start:not(.has-end) #end {
  display: inline;
}

body.has-start:not(.has-end) #start {
  display: none;
}

body.calc #loading {
  display: block;
}

.tt-dropdown-menu {
  background: #fff;
  width: 14em;
  border: 1px solid #ccc;
  max-height: 80vh;
  max-height: calc( 100vh - 4em );
  overflow: auto;
  margin-top: 0.5em;
}

.tt-dropdown-menu * {
  margin: 0;
  padding: 0;
}

.tt-suggestion {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}

.ac-name {
  font-size: 1.25em;
}

.ac-node-type,
.ac-milk,
.ac-country,
.ac-more {
  font-size: 0.8em;
}

#info {
  position: absolute;
  left: 0;
  top: 3em;
  margin: 0.5em;
  /*background: #bbdbf7;*/
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 0 0.25em rgba(187, 219, 247, 0.9);
  width: 14em;
  display: none;
}

#info p {
  margin: 0;
}

#linkout {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0.25em;
  z-index: 999;
}

#reset,
#filter,
#about {
  width: 3em;
  margin: 0.5em;
  position: absolute;
  z-index: 999;
}

#reset {
  top: 0;
  right: 0;
}

#filter {
  top: 0;
  right: 4em;
}

#about {
  bottom: 0;
  left: 0;
}

#about-content p + p {
  margin: 0;
  margin-top: 0.5em;
}

.qtip-about {
  width: 13em;
}

.qtip-about .qtip-content {
  padding: 0.25em !important;
}

#reset i {
  transform: rotate(45deg);
}

#filters label {
  font-weight: normal;
  padding: 0 0.25em;
}

#filters strong {
  display: block;
}

#filters hr {
  margin: 0.25em 0;
}

#filters {
  display: none;
}

.qtip #filter {
  display: block;
}

.qtip-filters .qtip-content {
  padding: 0 !important;
  overflow: auto;
  max-height: 80vh;
  max-height: calc( 100vh - 4em );
  width: 18em;
}

.filtersets {
  width: 100%;
}

.filterset {
  display: inline-block;
  vertical-align: top;
  line-height: 1.1;
}

.filterset.right {

}

.filterset + .filterset {
  margin-left: 0.5em;
}

.filterset-section-title {
  font-size: 1.25em;
  margin-left: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

* + .filterset-section-title {
  border-top: 1px solid rgba(128, 128, 128, 0.15);
  padding-top: 0.5em;
  margin-left: 0;
  padding-left: 0.2em;
}

.filterset input {
  margin-left: 0.25em;
}

.filterset-title {
  margin: 0.25em 0 0.25em 0.25em;
}
