html,
body,
.app {
  font-family: helvetica neue, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--bodyBgColor);
  overflow: hidden;
}

#root {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  background: var(--bodyBgColor);
}

#cy {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.loader {
  opacity: 0.5;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.loader-icon {
  width: 6em;
  height: 6em;
  background-image: url('./images/icon.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.loader h1 {
  font-weight: normal;
}

a {
  color: rgb(140, 203, 255);
}
